body {
    margin: 0;
}

img {
    width: 100%;
}

#screen {
    aspect-ratio: 16/9;
    width: 100%;
    border: 4px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#game {
    grid-area: 1/1;
    overflow: hidden;
    display: grid;
}

#game_background {
    grid-area: 1/1;
    opacity: 50%;
}

#game_elements {
    grid-area: 1/1;
}

/* GAME ELEMENTS */

#plank_container {
    position: absolute;
    z-index: 1;
    width: 15%;
    top: 38%;
    left: 64%;
    rotate: -73deg;
}

#bug_container {
    position: absolute;
    z-index: 1;
    width: 10%;
    top: 70%;
    left: 55%;
    rotate: -34deg;
}

/* FOREGROUNDS */
#game_foreground {
    grid-area: 1/1;
    overflow: hidden;
    z-index: 2;
}

#trash_pile {
    position: absolute;
    z-index: 2;
    width: 88%;
    top: 44%;
    left: 23%;
}

/* GAME UI */
#game_ui {
    grid-area: 1/1;
    position: relative;
}

/* UI ELEMENTS */

#start {
    width: 10%;
}

#game_over {
    width: 10%;
}

#level_complete {
    width: 10%;
}
