body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16/9;
  width: 100%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

#game {
  grid-area: 1/1;
  overflow: hidden;
  display: grid;
}

#game_background {
  background-image: url(images/A_dump_in_Boa_Vista\_Cape_Verde\_December_2010.jpg);
  background-size: cover;
  grid-area: 1/1;
  opacity: 80%;
  z-index: 0;
}

#game_elements {
  grid-area: 1/1;
  position: relative;
}

/* GAME ELEMENTS */

#plank_container {
  position: absolute;
  z-index: 1;
  width: 13%;
  top: 85%;
  left: 60%;
}

#bug_container {
  position: absolute;
  z-index: 1;
  width: 6%;
  top: 90%;
  left: 50%;
}

/* ANIMATIONS */

.trash_items_movement {
  animation-name: toss_up_fall_down;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  /* animation-timing-function: cubic-bezier(0.1, 0.46, 0.45, 0.94); */
  animation-fill-mode: forwards;
}

@keyframes toss_up_fall_down {
  0% {
    transform: translate(0, 0%) rotate(0deg);
  }
  50% {
    transform: translate(0, -700%) rotate(-360deg);
  }
  100% {
    transform: translatex(0, 0%) rotate(-720deg);
  }
}

.click_fadeout {
  animation-name: fade_to_0;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade_to_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.50;
  }
}

.pause_item {
    animation-play-state: paused;
}

/* TO DO: MAKE PAUSE CONTAINER */

/* FOREGROUNDS */
#game_foreground {
  /* background-image: url(images/trash_pile_transparent_16_9.png); */
  grid-area: 1/1;
  position: relative;
  z-index: 2;
}

#trash_pile {
  position: absolute;
  width: 75%;
  top: 58%;
  left: 25%;
}

/* GAME UI */
#game_ui {
  grid-area: 1/1;
  position: relative;
}

#point1_container {
  position: absolute;
  width: 10%;
  top: 80%;
  left: 10%;
}

#point2_container {
  position: absolute;
  width: 10%;
  top: 72%;
  left: 10%;
}

#point3_container {
  position: absolute;  
  width: 10%;
  top: 64%;
  left: 10%;
}

#point4_container {
  position: absolute;
  width: 10%;
  top: 58%;
  left: 10%;
}

#point5_container {
  position: absolute;  
  width: 10%;
  top: 46%;
  left: 10%;
}

#point6_container {
  position: absolute;
  width: 10%;
  top: 37%;
  left: 10%;
}

#point7_container {
  position: absolute;
  width: 10%;
  top: 30%;
  left: 10%;
}

/* UI ELEMENTS */

#start {
  width: 10%;
}

#game_over {
  width: 10%;
}

#level_complete {
  width: 10%;
}
