body {
    margin: 0;
}

img {
    width: 100%;
}

#screen {
    aspect-ratio: 16/9;
    width: 100%;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#game {
    grid-area: 1/1;
    overflow: hidden;
    display: grid;
}

#game_background {
    background-image: url(images/A_dump_in_Boa_Vista\,_Cape_Verde\,_December_2010.jpg);
    background-size: cover;
    grid-area: 1/1;
    opacity: 80%;
    /* SKÆR BAGGRUNDS BILLEDE TIL 16:9 */
}

#game_elements {
    grid-area: 1/1;
}

/* GAME ELEMENTS */

#plank_container {
    position: absolute;
    z-index: 1;
    width: 13%;
    top: 38%;
    left: 64%;
    rotate: -73deg;
}

#bug_container {
    position: absolute;
    z-index: 1;
    width: 8%;
    top: 50%;
    left: 55%;
    rotate: -34deg;
}

/* ANIMATIONS */



/* FOREGROUNDS */
#game_foreground {
    background-image: url(images/Trash_Pile_Edit.png);
    grid-area: 1/1;
    overflow: hidden;
    z-index: 2;

}

#trash_pile {
    position: absolute;
    z-index: 2;
    width: 72%;
    top: 58%;
    left: 25%;
}

/* GAME UI */
#game_ui {
    grid-area: 1/1;
    position: relative;
}

/* UI ELEMENTS */

#start {
    width: 10%;
}

#game_over {
    width: 10%;
}

#level_complete {
    width: 10%;
}
